[Unit]
Description=Lliurex Auto Upgrade DAEMON
Wants=network-online.target
After=network-online.target


[Service]
User=root
ExecStart=/usr/sbin/lliurex-auto-upgrade
StandardOutput=journal
Restart=always
RestartSec=5
StartLimitBurst=10
StartLimitInterval=200
Type=notify
NotifyAccess=main

[Install]
WantedBy=multi-user.target

