[Unit]
Description=System tags for autoupgrades

[Service]
Type=oneshot
ExecStart=/usr/sbin/lliurex-autotags-system
ExecStop=/bin/true

[Install]
WantedBy=default.target
